/**
 * @name Material You
 * @author JustAlittleWolf#7032
 * @version 1.0.0
 * @description A Material You color implementation for Discord
 * @source https://github.com/JustAlittleWolf/Material-You-Discord-Theme
*/

@import url('https://raw.githubusercontent.com/JustAlittleWolf/Material-You-Discord-Theme/main/base.css');


/* Variables */
:root {
    /*
     * Select which hue of color you want Discord to be themed in.
     * You can select a hue by going to https://htmlcolorcodes.com/color-picker/,
     * selecting a color, then copying the "H" value and pasting it in below.
     * range: 0.0-360.0
     */
    --material-you-base-hue: 324;

    /*
     * Change how saturated the background will be. A lower value will
     * result in a grayer background
     * suggested range: 0.5-5.0
     */
    --material-you-saturation-factor: 2.0;

    --material-you-link-lightness: 1.5;
}