.theme-dark {
    --header-primary: var(--primary-130);
    --header-secondary: var(--primary-330);
    --text-normal: var(--primary-230);
    --text-muted: var(--primary-360);
    --text-link: var(--blue-345);
    --text-link-low-saturation: var(--blue-330);
    --text-positive: var(--green-330);
    --text-warning: var(--yellow-300);
    --text-danger: var(--red-345);
    --text-brand: var(--brand-360);
    --interactive-normal: var(--primary-330);
    --interactive-hover: var(--primary-230);
    --interactive-active: var(--primary-130);
    --interactive-muted: var(--primary-500);
    --mention-foreground: var(--brand-260);
    --mention-background: hsl(var(--brand-500-hsl)/0.3);
    --background-primary: var(--primary-600);
    --background-secondary: var(--primary-630);
    --background-secondary-alt: var(--primary-660);
    --background-tertiary: var(--primary-700);
    --background-accent: var(--primary-530);
    --background-floating: var(--primary-800);
    --background-nested-floating: var(--primary-630);
    --background-mobile-primary: var(--primary-600);
    --background-mobile-secondary: var(--primary-630);
    --home-background: var(--primary-645);
    --chat-background: var(--primary-600);
    --chat-border: var(--primary-700);
    --chat-input-container-background: var(--primary-600);
    --background-modifier-hover: hsl(var(--primary-500-hsl)/0.3);
    --background-modifier-active: hsl(var(--primary-500-hsl)/0.48);
    --background-modifier-selected: hsl(var(--primary-500-hsl)/0.6);
    --background-modifier-accent: hsl(var(--primary-500-hsl)/0.48);
    --info-positive-background: hsl(var(--green-360-hsl)/0.1);
    --info-positive-foreground: var(--green-360);
    --info-positive-text: var(--white-500);
    --info-warning-background: hsl(var(--yellow-300-hsl)/0.1);
    --info-warning-foreground: var(--yellow-300);
    --info-warning-text: var(--white-500);
    --info-danger-background: hsl(var(--red-400-hsl)/0.1);
    --info-danger-foreground: var(--red-400);
    --info-danger-text: var(--white-500);
    --info-help-background: hsl(var(--blue-345-hsl)/0.1);
    --info-help-foreground: var(--blue-345);
    --info-help-text: var(--white-500);
    --status-positive-background: var(--green-430);
    --status-positive-text: var(--white-500);
    --status-warning-background: var(--yellow-300);
    --status-warning-text: var(--black-500);
    --status-danger-background: var(--red-400);
    --status-danger-text: var(--white-500);
    --status-danger: var(--red-400);
    --status-positive: var(--green-360);
    --status-warning: var(--yellow-300);
    --button-danger-background: var(--red-430);
    --button-danger-background-hover: var(--red-500);
    --button-danger-background-active: var(--red-530);
    --button-danger-background-disabled: var(--red-430);
    --button-positive-background: var(--green-430);
    --button-positive-background-hover: var(--green-500);
    --button-positive-background-active: var(--green-530);
    --button-positive-background-disabled: var(--green-430);
    --button-secondary-background: var(--primary-500);
    --button-secondary-background-hover: var(--primary-430);
    --button-secondary-background-active: var(--primary-400);
    --button-secondary-background-disabled: var(--primary-500);
    --button-outline-danger-text: var(--white-500);
    --button-outline-danger-border: var(--red-400);
    --button-outline-danger-background: hsl(var(--white-500-hsl)/0);
    --button-outline-danger-background-hover: var(--red-430);
    --button-outline-danger-text-hover: var(--white-500);
    --button-outline-danger-border-hover: var(--red-430);
    --button-outline-danger-background-active: var(--red-460);
    --button-outline-danger-text-active: var(--white-500);
    --button-outline-danger-border-active: var(--red-430);
    --button-outline-positive-text: var(--white-500);
    --button-outline-positive-border: var(--green-360);
    --button-outline-positive-background: hsl(var(--white-500-hsl)/0);
    --button-outline-positive-background-hover: var(--green-430);
    --button-outline-positive-text-hover: var(--white-500);
    --button-outline-positive-border-hover: var(--green-430);
    --button-outline-positive-background-active: var(--green-530);
    --button-outline-positive-text-active: var(--white-500);
    --button-outline-positive-border-active: var(--green-530);
    --button-outline-brand-text: var(--white-500);
    --button-outline-brand-border: var(--brand-500);
    --button-outline-brand-background: hsl(var(--white-500-hsl)/0);
    --button-outline-brand-background-hover: var(--brand-500);
    --button-outline-brand-text-hover: var(--white-500);
    --button-outline-brand-border-hover: var(--brand-500);
    --button-outline-brand-background-active: var(--brand-560);
    --button-outline-brand-text-active: var(--white-500);
    --button-outline-brand-border-active: var(--brand-560);
    --button-outline-primary-text: var(--white-500);
    --button-outline-primary-border: var(--primary-500);
    --button-outline-primary-background: hsl(var(--white-500-hsl)/0);
    --button-outline-primary-background-hover: var(--primary-500);
    --button-outline-primary-text-hover: var(--white-500);
    --button-outline-primary-border-hover: var(--primary-500);
    --button-outline-primary-background-active: var(--primary-430);
    --button-outline-primary-text-active: var(--white-500);
    --button-outline-primary-border-active: var(--primary-430);
    --modal-background: var(--primary-600);
    --modal-footer-background: var(--primary-630);
    --scrollbar-thin-thumb: var(--primary-730);
    --scrollbar-thin-track: hsl(var(--black-500-hsl)/0);
    --scrollbar-auto-thumb: var(--primary-730);
    --scrollbar-auto-track: var(--primary-630);
    --scrollbar-auto-scrollbar-color-thumb: var(--primary-730);
    --scrollbar-auto-scrollbar-color-track: var(--primary-630);
    --input-background: var(--primary-700);
    --input-placeholder-text: var(--input-placeholder-text-dark);
    --logo-primary: var(--white-500);
    --focus-primary: var(--blue-345);
    --control-brand-foreground: var(--brand-360);
    --control-brand-foreground-new: var(--brand-360);
    --background-mentioned: hsl(var(--yellow-300-hsl)/0.1);
    --background-mentioned-hover: hsl(var(--yellow-300-hsl)/0.08);
    --background-message-hover: hsl(var(--primary-900-hsl)/0.06);
    --background-message-automod: hsl(var(--red-400-hsl)/0.05);
    --background-message-automod-hover: hsl(var(--red-400-hsl)/0.1);
    --background-message-highlight: hsl(var(--brand-360-hsl)/0.08);
    --background-message-highlight-hover: hsl(var(--brand-360-hsl)/0.06);
    --channels-default: var(--primary-360);
    --channel-icon: var(--primary-400);
    --channel-text-area-placeholder: var(--primary-430);
    --channeltextarea-background: var(--primary-560);
    --activity-card-background: var(--primary-700);
    --textbox-markdown-syntax: var(--primary-360);
    --spoiler-revealed-background: var(--primary-660);
    --spoiler-hidden-background: var(--primary-700);
    --android-navigation-bar-background: var(--primary-830);
    --android-ripple: hsl(var(--white-500-hsl)/0.07);
    --deprecated-card-bg: hsl(var(--primary-700-hsl)/0.6);
    --deprecated-card-editable-bg: hsl(var(--primary-700-hsl)/0.3);
    --deprecated-store-bg: var(--primary-600);
    --deprecated-quickswitcher-input-background: var(--primary-400);
    --deprecated-quickswitcher-input-placeholder: hsl(var(--white-500-hsl)/0.3);
    --deprecated-text-input-bg: var(--primary-700);
    --deprecated-text-input-border: hsl(var(--black-500-hsl)/0.3);
    --android-navigation-scrim-background: hsl(var(--primary-830-hsl)/0.5);
    --bug-reporter-modal-submitting-background: hsl(var(--primary-800-hsl)/0.6);
    --forum-post-extra-media-count-container-background: hsl(var(--primary-660-hsl)/0.8);
    --forum-post-tag-background: hsl(var(--primary-660-hsl)/0.9);
    --live-stage-tile-border: hsl(var(--primary-500-hsl)/0.6);
    --user-profile-header-overflow-background: hsl(var(--primary-700-hsl)/0.5);
    --display-banner-overflow-background: hsl(var(--primary-700-hsl)/0.5);
    --info-box-background: hsl(var(--blue-345-hsl)/0.1);
    --deprecated-text-input-border-hover: var(--primary-900);
    --deprecated-text-input-border-disabled: var(--primary-700);
    --deprecated-text-input-prefix: var(--primary-200);
}

.theme-light {
    --header-primary: var(--primary-860);
    --header-secondary: var(--primary-500);
    --text-normal: var(--primary-600);
    --text-muted: var(--primary-460);
    --text-link: var(--blue-430);
    --text-link-low-saturation: var(--blue-430);
    --text-positive: var(--green-430);
    --text-warning: var(--yellow-430);
    --text-danger: var(--red-500);
    --text-brand: var(--brand-500);
    --interactive-normal: var(--primary-500);
    --interactive-hover: var(--primary-600);
    --interactive-active: var(--primary-860);
    --interactive-muted: var(--primary-300);
    --mention-foreground: var(--brand-500);
    --mention-background: hsl(var(--brand-500-hsl)/0.15);
    --background-primary: var(--white-500);
    --background-secondary: var(--primary-160);
    --background-secondary-alt: var(--primary-200);
    --background-tertiary: var(--primary-230);
    --background-accent: var(--primary-430);
    --background-floating: var(--white-500);
    --background-nested-floating: var(--white-500);
    --background-mobile-primary: var(--primary-100);
    --background-mobile-secondary: var(--white-500);
    --home-background: var(--primary-130);
    --chat-background: var(--white-500);
    --chat-border: var(--primary-200);
    --chat-input-container-background: var(--white-500);
    --background-modifier-hover: hsl(var(--primary-400-hsl)/0.16);
    --background-modifier-active: hsl(var(--primary-400-hsl)/0.2);
    --background-modifier-selected: hsl(var(--primary-400-hsl)/0.24);
    --background-modifier-accent: hsl(var(--primary-400-hsl)/0.24);
    --info-positive-background: hsl(var(--green-400-hsl)/0.05);
    --info-positive-foreground: var(--green-400);
    --info-positive-text: var(--black-500);
    --info-warning-background: hsl(var(--yellow-400-hsl)/0.1);
    --info-warning-foreground: var(--yellow-400);
    --info-warning-text: var(--black-500);
    --info-danger-background: hsl(var(--red-430-hsl)/0.1);
    --info-danger-foreground: var(--red-430);
    --info-danger-text: var(--black-500);
    --info-help-background: hsl(var(--blue-430-hsl)/0.1);
    --info-help-foreground: var(--blue-430);
    --info-help-text: var(--black-500);
    --status-positive-background: var(--green-430);
    --status-positive-text: var(--white-500);
    --status-warning-background: var(--yellow-400);
    --status-warning-text: var(--white-500);
    --status-danger-background: var(--red-430);
    --status-danger-text: var(--white-500);
    --status-danger: var(--red-430);
    --status-positive: var(--green-400);
    --status-warning: var(--yellow-400);
    --button-danger-background: var(--red-430);
    --button-danger-background-hover: var(--red-500);
    --button-danger-background-active: var(--red-530);
    --button-danger-background-disabled: var(--red-430);
    --button-positive-background: var(--green-430);
    --button-positive-background-hover: var(--green-530);
    --button-positive-background-active: var(--green-530);
    --button-positive-background-disabled: var(--green-430);
    --button-secondary-background: var(--primary-430);
    --button-secondary-background-hover: var(--primary-500);
    --button-secondary-background-active: var(--primary-530);
    --button-secondary-background-disabled: var(--primary-430);
    --button-outline-danger-text: var(--black-500);
    --button-outline-danger-border: var(--red-430);
    --button-outline-danger-background: hsl(var(--white-500-hsl)/0);
    --button-outline-danger-background-hover: var(--red-430);
    --button-outline-danger-text-hover: var(--white-500);
    --button-outline-danger-border-hover: var(--red-430);
    --button-outline-danger-background-active: var(--red-460);
    --button-outline-danger-text-active: var(--white-500);
    --button-outline-danger-border-active: var(--red-430);
    --button-outline-positive-text: var(--black-500);
    --button-outline-positive-border: var(--green-400);
    --button-outline-positive-background: hsl(var(--white-500-hsl)/0);
    --button-outline-positive-background-hover: var(--green-430);
    --button-outline-positive-text-hover: var(--white-500);
    --button-outline-positive-border-hover: var(--green-430);
    --button-outline-positive-background-active: var(--green-530);
    --button-outline-positive-text-active: var(--white-500);
    --button-outline-positive-border-active: var(--green-530);
    --button-outline-brand-text: var(--black-500);
    --button-outline-brand-border: var(--brand-500);
    --button-outline-brand-background: hsl(var(--white-500-hsl)/0);
    --button-outline-brand-background-hover: var(--brand-500);
    --button-outline-brand-text-hover: var(--white-500);
    --button-outline-brand-border-hover: var(--brand-500);
    --button-outline-brand-background-active: var(--brand-560);
    --button-outline-brand-text-active: var(--white-500);
    --button-outline-brand-border-active: var(--brand-560);
    --button-outline-primary-text: var(--black-500);
    --button-outline-primary-border: var(--primary-530);
    --button-outline-primary-background: hsl(var(--white-500-hsl)/0);
    --button-outline-primary-background-hover: var(--primary-530);
    --button-outline-primary-text-hover: var(--white-500);
    --button-outline-primary-border-hover: var(--primary-530);
    --button-outline-primary-background-active: var(--primary-600);
    --button-outline-primary-text-active: var(--white-500);
    --button-outline-primary-border-active: var(--primary-600);
    --modal-background: var(--white-500);
    --modal-footer-background: var(--primary-130);
    --scrollbar-thin-thumb: hsl(var(--primary-500-hsl)/0.3);
    --scrollbar-thin-track: hsl(var(--black-500-hsl)/0);
    --scrollbar-auto-thumb: var(--primary-300);
    --scrollbar-auto-track: var(--primary-160);
    --scrollbar-auto-scrollbar-color-thumb: var(--primary-230);
    --scrollbar-auto-scrollbar-color-track: var(--primary-130);
    --input-background: var(--primary-200);
    --input-placeholder-text: var(--primary-560);
    --logo-primary: var(--brand-500);
    --focus-primary: var(--blue-345);
    --control-brand-foreground: var(--brand-500);
    --control-brand-foreground-new: var(--brand-500);
    --background-mentioned: hsl(var(--yellow-300-hsl)/0.1);
    --background-mentioned-hover: hsl(var(--yellow-300-hsl)/0.2);
    --background-message-hover: hsl(var(--primary-900-hsl)/0.03);
    --background-message-automod: hsl(var(--red-400-hsl)/0.05);
    --background-message-automod-hover: hsl(var(--red-400-hsl)/0.1);
    --background-message-highlight: hsl(var(--brand-360-hsl)/0.1);
    --background-message-highlight-hover: hsl(var(--brand-360-hsl)/0.2);
    --channels-default: var(--primary-460);
    --channel-icon: var(--primary-430);
    --channel-text-area-placeholder: var(--primary-400);
    --channeltextarea-background: var(--primary-160);
    --activity-card-background: var(--white-500);
    --textbox-markdown-syntax: var(--primary-530);
    --spoiler-revealed-background: var(--primary-160);
    --spoiler-hidden-background: var(--primary-200);
    --android-navigation-bar-background: var(--primary-100);
    --android-ripple: hsl(var(--black-500-hsl)/0.12);
    --deprecated-card-bg: var(--primary-100);
    --deprecated-card-editable-bg: hsl(var(--primary-100-hsl)/0.6);
    --deprecated-store-bg: var(--primary-100);
    --deprecated-quickswitcher-input-background: var(--white-500);
    --deprecated-quickswitcher-input-placeholder: hsl(var(--primary-500-hsl)/0.3);
    --deprecated-text-input-bg: var(--primary-200);
    --deprecated-text-input-border: hsl(var(--primary-500-hsl)/0.3);
    --android-navigation-scrim-background: hsl(var(--primary-100-hsl)/0.5);
    --bug-reporter-modal-submitting-background: hsl(var(--white-500-hsl)/0.6);
    --forum-post-extra-media-count-container-background: hsl(var(--primary-160-hsl)/0.8);
    --forum-post-tag-background: hsl(var(--primary-160-hsl)/0.9);
    --live-stage-tile-border: hsl(var(--primary-430-hsl)/0.15);
    --user-profile-header-overflow-background: hsl(var(--white-200-hsl)/0.5);
    --display-banner-overflow-background: hsl(var(--white-200-hsl)/0.5);
    --info-box-background: hsl(var(--blue-345-hsl)/0.1);
    --deprecated-text-input-border-hover: var(--primary-300);
    --deprecated-text-input-border-disabled: var(--primary-200);
    --deprecated-text-input-prefix: var(--primary-300);
}